# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Env
.env
.env.*
!.env.example

# Django
staticfiles/
media/
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp

# Docker
.docker/
